NODE_ENV=production
APP_ENV=local
APP_NAME=backend-nestjs
PORT=3000
TZ=America/New_York

DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/main?schema=public

LOG_LEVEL=info
USE_JSON_LOG_FORMAT=false

API_KEY_1=
API_KEY_2=
AUTH_JWKS_URL=
AUTH_JWT_SECRET=